

.light-mode{
    background-color: #f8f9fa; /* Light background */
    transition: 0.3s ease-in;
}

/* Dark Mode Styles */
 .dark-mode{
    background-color: #121212;
    color: white;
    transition: 0.3s ease-in;
}

