h1{
    text-align:center ;
    font-size: 2rem;
    padding: 3%;

}

#submitButton{
    margin-top: 20px;
}

#myCheckbox{
    margin-left: 30px;
}

#task{
    padding: 2%;
}

.tasktitle {
    margin-bottom: 10px;
    font-weight: bold; 
  }